@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700&display=swap');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);
@import url(http://fonts.googleapis.com/css?family=Prata);

@tailwind base;

html, body {
  @apply relative font-body bg-background w-full h-full text-dark;
}

h1 {
  @apply text-4xl;
}

h1, h2, h3, h4, h5, h6, a {
  @apply font-title;
}

.background {
	position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('background.jpg') no-repeat center center #000d2f;
  background-size: cover;
}

#sapper {
  position: relative;
  z-index: 2;
}

@tailwind components;
@tailwind utilities;